<table border="1" align="center">
    <thead align="center">
    <tr>
        <th style="width: 20%">
            Employee Id
        </th>
        <th style="width: 20%">
            Name
        </th>
        <th style="width: 10%">
            Designation
        </th>
        <th style="width: 40%">
            Skills
        </th>
        <th style="width: 20%">
           Status
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees" align="center">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.designation | uppercase}}</td>
        <td>{{employee.skills}}</td>
        <td>{{employee.status}}</td>
    </tr>
    </tbody>
</table>