<div>
    <p></p>
</div>
<p-dataTable [value]="employees" [paginator]="true" rows="10" [responsive]="true">
    <p-column field="id" header="Employee Id" [sortable]="true" [style]="{'width':'10%'}"></p-column>
    <p-column field="name" header="Name" [sortable]="true" [style]="{'width':'10%'}"></p-column>
    <p-column field="designation" header="Designation" [sortable]="true" [style]="{'width':'10%'}"></p-column>
    <p-column field="skills" header="Skills" [sortable]="true" [style]="{'width':'30%'}"></p-column>
    <p-column field="status" header="Status" [sortable]="true" [style]="{'width':'10%'}"></p-column>
    <p-column field="" header="Interview" [style]="{'width':'10%'}"></p-column>
</p-dataTable>
